<h1 class="text-center mt-5">
  CHILLFLIX!
</h1>

<div class="w-75 mx-auto mt-5">
    <p>
        CHILLFLIX!, Inc. is an American media-services provider headquartered in Los Gatos, California, founded in 1997 by Reed Hastings and Marc Randolph in Scotts Valley, California. The company's primary business is its subscription-based streaming OTT service which offers online streaming of a library of films and television programs, including those produced in-house.[9] As of January 2019, CHILLFLIX! had over 139 million paid subscriptions worldwide, including 58.49 million in the United States, and over 148 million subscriptions total including free trials.[8][10] It is available almost worldwide except in mainland China, Syria, North Korea, Iran, and Crimea. The company also has offices in the Netherlands, Brazil, India, Japan, and South Korea.[11] CHILLFLIX! is a member of the Motion Picture Association of America (MPAA).
    </p>
    <p>
        CHILLFLIX!'s initial business model included DVD sales and rental by mail, but Hastings jettisoned the sales about a year after the company's founding to focus on the DVD rental business.[9][12] CHILLFLIX! expanded its business in 2007 with the introduction of streaming media while retaining the DVD and Blu-ray rental service. The company expanded internationally in 2010 with streaming available in Canada,[13] followed by Latin America and the Caribbean. CHILLFLIX! entered the content-production industry in 2012, debuting its first series Lilyhammer.
    </p>
    <p>
        CHILLFLIX! has greatly expanded the production and distribution of both film and television series since 2012, and offers a variety of "CHILLFLIX! Original" content through its online library.[14] By January 2016, CHILLFLIX! services operated in more than 190 countries.[15] CHILLFLIX! released an estimated 126 original series and films in 2016, more than any other network or cable channel.[16] Their efforts to produce new content, secure the rights for additional content, and diversity through 190 countries have resulted in the company racking up billions in debt: $21.9 billion as of September 2017, up from $16.8 billion from the previous year.[17] $6.5 billion of this is long-term debt, while the remaining is in long-term obligations.[18] In October 2018, CHILLFLIX! announced it would raise another $2 billion in debt to help fund new conten
    </p>
</div>
