<input class="mb-5 mt-5 mx-auto d-block form-control w-25"
       placeholder="search by films title"
       type="search"
       [(ngModel)]="userInput"
       (change)="handleSearchInputChange(userInput)">

<div class="d-flex justify-content-around" *ngIf="films !== null; else showSpinner">
    <app-film-list-item *ngFor="let film of films" [film]="film" >
    </app-film-list-item>
</div>
<ng-template #showSpinner>
    <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</ng-template>
